@charset "UTF-8";
@font-face {
  font-family: "Quicksand";
  src: local("Quicksand Light"), local("Quicksand-Light"), url("../fonts/../fonts/quicksandlight.woff2") format("woff2"), url("../fonts/quicksandlight.woff") format("woff"), url("../fonts/quicksandlight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand";
  src: local("Quicksand Regular"), local("Quicksand-Regular"), url("../fonts/Quicksand-Regular.woff2") format("woff2"), url("Quicksand-Regular.woff") format("woff"), url("Quicksand-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand";
  src: local("Quicksand Bold"), local("Quicksand-Bold"), url("../fonts/quicksandbold.woff2") format("woff2"), url("../fonts/quicksandbold.woff") format("woff"), url("../fonts/quicksandbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand";
  src: local("Quicksand Medium"), local("Quicksand-Medium"), url("../fonts/quicksandmedium.woff2") format("woff2"), url("../fonts/quicksandmedium.woff") format("woff"), url("../fonts/quicksandmedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1200;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form-control,
.btn {
  border-radius: 15px;
}

.form-control {
  height: 40px;
}

.btn-reg {
  color: #fff;
  background-color: #541199;
  padding: 10px 96px 10px 116px;
  border-radius: 30px;
}

input[type=radio] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #808080;
  outline: none;
  border-radius: 100%;
  left: 12px;
  top: -2px;
}

input[type=radio]:checked {
  border: 2px solid #541199;
}

input[type=radio]:checked:before {
  color: #541199;
  background: linear-gradient(180deg, #541199 0%, #00c9c7 100%);
}

input[type=radio]:before {
  content: "";
  display: block;
  background-color: #808080;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  margin: 3px 3px;
  pointer-events: none;
}

input[type=checkbox] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin-left: 0;
}
input[type=checkbox] + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
          user-select: none;
}
input[type=checkbox] + label::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #808080;
  border-radius: 4px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: #fff;
}
input[type=checkbox]:checked + label::before {
  border-color: #541199;
  background-image: url("../img/check.svg");
}

label {
  font-weight: 400;
  font-size: 16px;
  color: #212121;
}

form .form-group {
  flex-basis: 0;
  flex-grow: 1;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
form .btn-reg {
  max-width: 400px;
}

.user-type .form-group {
  flex-grow: 0;
  padding-right: 60px;
}
.user-type label {
  color: #808080;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}
.user-type input:checked ~ label,
.user-type label:focus {
  color: #212121;
}

.header__top .row {
  height: 75px;
}

.hendymen__text {
  margin-right: 10px;
  font-size: 14px;
  color: #00c9c7;
  margin-top: 5px;
}

.header__top-nav {
  flex-wrap: wrap;
  justify-content: flex-end;
}

.lang {
  cursor: pointer;
  margin-left: 28px;
  margin-right: 5px;
}

.lang-text {
  padding: 0 13px 0 5.5px;
  color: #212121;
  font-size: 14px;
  margin-top: 4px;
}

.header__bottom {
  background: #2a0c40;
}
.header__bottom .row {
  height: 75px;
}
.header__list {
  display: flex;
  width: 100%;
}
.header__list a {
  font-weight: 700;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}
.header__lock img {
  max-width: 100%;
}

/* Убрать!!!!!!!!!!!  */
.modal {
  display: block;
  position: relative;
  overflow: visible;
}

.modal-dialog {
  max-width: 784px;
}

.fade:not(.show) {
  opacity: 1;
}

.modal-content {
  background: linear-gradient(180deg, rgba(84, 17, 153, 0.3) 0%, rgba(0, 201, 199, 0.04) 100%), #ffffff;
  border-radius: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.modal-body {
  text-align: center;
}

form {
  width: 100%;
  padding: 0 20px;
}

/* .popap-reg {
	display: none;
	opacity: 0;
	visibility: hidden;
}
 */
/* registration */
.form-check {
  padding-right: 87px;
  padding-left: 1rem;
}
.form-check:last-child {
  padding-right: 0;
}

.form-check-label {
  font-size: 10px;
  color: #808080;
}

.popap-reg__title {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.modal-header {
  border: none;
}

.modal-header .close {
  margin: 0;
  padding: 0;
}

.close-btn {
  border: none;
  font-size: 0;
  background-color: transparent;
  position: relative;
}
.close-btn span {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 5px;
  left: 50%;
  display: block;
  font-size: 0;
  background-color: #fff;
  height: 15px;
  width: 1px;
  transform: rotate(45deg);
}
.close-btn span:after {
  content: "";
  display: block;
  height: 15px;
  width: 1px;
  background-color: #fff;
  transform: rotate(-90deg);
}

.accept-check label span {
  color: #541199;
}

.form-number {
  flex: 0 1 32.8571428571%;
  padding-left: 15px;
  margin-right: 5.7142857143%;
}

.form-number-btn {
  background-color: #fff;
  width: 100%;
}

.input-number {
  flex: 0 1 57.1428571429%;
  padding-right: 15px;
}

.dropdown-toggle:after, .dropdown-toggle:before {
  border: none;
  content: "";
  position: absolute;
  height: 8px;
  width: 2px;
  background-color: #000;
  top: 16px;
  transition: all 0.3s ease;
}
.dropdown-toggle:after {
  right: 13px;
  transform: rotate(45deg);
}
.dropdown-toggle::before {
  right: 18px;
  transform: rotate(-45deg);
}

.show .dropdown-toggle:after {
  transform: rotate(135deg);
}
.show .dropdown-toggle:before {
  transform: rotate(45deg);
}

.email-label {
  font-weight: 500;
}

.custom-select {
  border-radius: 15px;
  position: relative;
  display: block;
  background: #fff url("../img/arrow-form.svg") center right 10px no-repeat;
}