.ibg{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	img{display: none;}
}
.slick-slider{position: relative;
	.slick-list{overflow: hidden;}
	.slick-track{@include flexbox();align-items:flex-start;}
}

